In [1]:
"""데이터프레임 추가/삭제"""

'데이터프레임 추가/삭제'

In [3]:
"""컬럼 추가
-df['컬럼명'] = 시리즈 객체
-비트코인 일봉 데이터를 얻어온 후 각 거래일의 변동(range)컬럼 추가하기
    -range = high-low    
"""

"컬럼 추가\n-df['컬럼명'] = 시리즈 객체\n-비트코인 일봉 데이터를 얻어온 후 각 거래일의 변동(range)컬럼 추가하기\n    -range = high-low    \n"

In [5]:
"""업비트 자료 다운"""
!pip install pyupbit

Requirement already satisfied: pyupbit in c:\users\82103\.conda\envs\study\lib\site-packages (0.2.33)
Requirement already satisfied: pyjwt>=2.0.0 in c:\users\82103\.conda\envs\study\lib\site-packages (from pyupbit) (2.8.0)
Requirement already satisfied: pandas in c:\users\82103\.conda\envs\study\lib\site-packages (from pyupbit) (2.0.3)
Requirement already satisfied: requests in c:\users\82103\.conda\envs\study\lib\site-packages (from pyupbit) (2.31.0)
Requirement already satisfied: websockets in c:\users\82103\.conda\envs\study\lib\site-packages (from pyupbit) (12.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\82103\.conda\envs\study\lib\site-packages (from pandas->pyupbit) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\82103\.conda\envs\study\lib\site-packages (from pandas->pyupbit) (2022.7)
Requirement already satisfied: tzdata>=2022.1 in c:\users\82103\.conda\envs\study\lib\site-packages (from pandas->pyupbit) (2023.3)
Requirement already satisfied: numpy>=1.20.3 in c:\users\82103\.conda\envs\study\lib\site-packages (from pandas->pyupbit) (1.24.4)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\82103\.conda\envs\study\lib\site-packages (from requests->pyupbit) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\82103\.conda\envs\study\lib\site-packages (from requests->pyupbit) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\82103\.conda\envs\study\lib\site-packages (from requests->pyupbit) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\82103\.conda\envs\study\lib\site-packages (from requests->pyupbit) (2023.7.22)
Requirement already satisfied: six>=1.5 in c:\users\82103\.conda\envs\study\lib\site-packages (from python-dateutil>=2.8.2->pandas->pyupbit) (1.16.0)

In [6]:
import pyupbit

df = pyupbit.get_ohlcv("KRW-BTC")
df

,open,high,low,close,volume,value
2023-05-09 09:00:00,37260000.0,37544000.0,36822000.0,37150000.0,3678.214360,1.366004e+11
2023-05-10 09:00:00,37150000.0,37995000.0,36580000.0,37071000.0,4525.282880,1.688536e+11
2023-05-11 09:00:00,37072000.0,37232000.0,36260000.0,36411000.0,3570.391377,1.313406e+11
2023-05-12 09:00:00,36413000.0,36554000.0,35262000.0,36341000.0,5478.839683,1.965784e+11
2023-05-13 09:00:00,36341000.0,36662000.0,36143000.0,36374000.0,1868.095465,6.797913e+10
...,...,...,...,...,...,...
2023-11-20 09:00:00,49800000.0,50305000.0,49283000.0,50170000.0,3173.091868,1.580664e+11
2023-11-21 09:00:00,50170000.0,50389000.0,48510000.0,48510000.0,5154.074949,2.556683e+11
2023-11-22 09:00:00,48521000.0,50499000.0,48391000.0,50042000.0,4203.057180,2.075856e+11
2023-11-23 09:00:00,50050000.0,50253000.0,49500000.0,49929000.0,2375.370979,1.186580e+11
2023-11-24 09:00:00,49936000.0,50999000.0,49888000.0,50863000.0,2511.138228,1.266149e+11

In [8]:
"""앞에꺼 5개만 보기"""

df.head()

,open,high,low,close,volume,value
2023-05-09 09:00:00,37260000.0,37544000.0,36822000.0,37150000.0,3678.214360,1.366004e+11
2023-05-10 09:00:00,37150000.0,37995000.0,36580000.0,37071000.0,4525.282880,1.688536e+11
2023-05-11 09:00:00,37072000.0,37232000.0,36260000.0,36411000.0,3570.391377,1.313406e+11
2023-05-12 09:00:00,36413000.0,36554000.0,35262000.0,36341000.0,5478.839683,1.965784e+11
2023-05-13 09:00:00,36341000.0,36662000.0,36143000.0,36374000.0,1868.095465,6.797913e+10

In [11]:
df['range'] = df['high'] - df['low']
df.head()

,open,high,low,close,volume,value,range
2023-05-09 09:00:00,37260000.0,37544000.0,36822000.0,37150000.0,3678.214360,1.366004e+11,722000.0
2023-05-10 09:00:00,37150000.0,37995000.0,36580000.0,37071000.0,4525.282880,1.688536e+11,1415000.0
2023-05-11 09:00:00,37072000.0,37232000.0,36260000.0,36411000.0,3570.391377,1.313406e+11,972000.0
2023-05-12 09:00:00,36413000.0,36554000.0,35262000.0,36341000.0,5478.839683,1.965784e+11,1292000.0
2023-05-13 09:00:00,36341000.0,36662000.0,36143000.0,36374000.0,1868.095465,6.797913e+10,519000.0

In [29]:
"""컬럼 삭제
-df.drop('컬럼명', axis=1)
    -2차원 배열이기에 컬럼이나 로우를 선택해서 삭제할 수 있음
    -원본은 그대로 유지되고 컬럼이 삭제된 새로운 데이터프레임 객체가 리턴됨
    (inplace를 쓰면 원본값으로 만들수 있음)
"""
df.drop('value', axis=1)

KeyError: "['value'] not found in axis"

In [21]:
"""시계열 데이터와 인덱스
    -시계열 데이터는 인덱스가 날짜와 시간으로 구성됨
        -문자열로 표현된 날짜와 시간을 DatetimeIndex 타입으로 변환해서 사용해야함
"""
import pandas as pd

date = ['2023-11-24','2023-11-25']
dt = pd.to_datetime(date)

print(type(date))
print(type(dt))
print(type(dt[0]))

<class 'list'>
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [28]:
"""로우 추가 
-loc 속성을 사용
    -df.loc[인덱스] = 데이터
"""
df.drop(['volume','range'], axis=1, inplace=True)

KeyError: "['volume', 'range'] not found in axis"

In [30]:
date = "2023-05-09 09:00:00"
dt = pd.to_datetime(date)
dt

Timestamp('2023-05-09 09:00:00')

In [31]:
df.loc[dt] = [100,110,100,100]
df

                           open        high         low       close
2023-05-09 09:00:00       100.0       110.0       100.0       100.0
2023-05-10 09:00:00  37150000.0  37995000.0  36580000.0  37071000.0
2023-05-11 09:00:00  37072000.0  37232000.0  36260000.0  36411000.0
2023-05-12 09:00:00  36413000.0  36554000.0  35262000.0  36341000.0
2023-05-13 09:00:00  36341000.0  36662000.0  36143000.0  36374000.0
...                         ...         ...         ...         ...
2023-11-20 09:00:00  49800000.0  50305000.0  49283000.0  50170000.0
2023-11-21 09:00:00  50170000.0  50389000.0  48510000.0  48510000.0
2023-11-22 09:00:00  48521000.0  50499000.0  48391000.0  50042000.0
2023-11-23 09:00:00  50050000.0  50253000.0  49500000.0  49929000.0
2023-11-24 09:00:00  49936000.0  50999000.0  49888000.0  50863000.0

[200 rows x 4 columns]

In [33]:
"""로우 삭제
-df.drop(로우 인덱스, axis=0)
    -원본은 그대로 유지되고 row가 삭제된 데이터프레임 객체가 리턴됨
"""

df.head()

                           open        high         low       close
2023-05-09 09:00:00       100.0       110.0       100.0       100.0
2023-05-10 09:00:00  37150000.0  37995000.0  36580000.0  37071000.0
2023-05-11 09:00:00  37072000.0  37232000.0  36260000.0  36411000.0
2023-05-12 09:00:00  36413000.0  36554000.0  35262000.0  36341000.0
2023-05-13 09:00:00  36341000.0  36662000.0  36143000.0  36374000.0

In [34]:
df.index[0]

Timestamp('2023-05-09 09:00:00')

In [35]:
df.drop(df.index[0], axis=0, inplace=True)
df

                           open        high         low       close
2023-05-10 09:00:00  37150000.0  37995000.0  36580000.0  37071000.0
2023-05-11 09:00:00  37072000.0  37232000.0  36260000.0  36411000.0
2023-05-12 09:00:00  36413000.0  36554000.0  35262000.0  36341000.0
2023-05-13 09:00:00  36341000.0  36662000.0  36143000.0  36374000.0
2023-05-14 09:00:00  36382000.0  36800000.0  36193000.0  36415000.0
...                         ...         ...         ...         ...
2023-11-20 09:00:00  49800000.0  50305000.0  49283000.0  50170000.0
2023-11-21 09:00:00  50170000.0  50389000.0  48510000.0  48510000.0
2023-11-22 09:00:00  48521000.0  50499000.0  48391000.0  50042000.0
2023-11-23 09:00:00  50050000.0  50253000.0  49500000.0  49929000.0
2023-11-24 09:00:00  49936000.0  50999000.0  49888000.0  50863000.0

[199 rows x 4 columns]