In [1]:
"""데이터프레임 연산"""

'데이터프레임 연산'

In [4]:
"""브로드캐스팅
    -하나의 연산이 한 컬럼의 모든 데이터에 적용됨
"""

!pip install pyupbit

import pyupbit

df = pyupbit.get_ohlcv("KRW-XRP")
df

Requirement already satisfied: pyupbit in c:\users\82103\.conda\envs\study\lib\site-packages (0.2.33)
Requirement already satisfied: pyjwt>=2.0.0 in c:\users\82103\.conda\envs\study\lib\site-packages (from pyupbit) (2.8.0)
Requirement already satisfied: pandas in c:\users\82103\.conda\envs\study\lib\site-packages (from pyupbit) (2.0.3)
Requirement already satisfied: requests in c:\users\82103\.conda\envs\study\lib\site-packages (from pyupbit) (2.31.0)
Requirement already satisfied: websockets in c:\users\82103\.conda\envs\study\lib\site-packages (from pyupbit) (12.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\82103\.conda\envs\study\lib\site-packages (from pandas->pyupbit) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\82103\.conda\envs\study\lib\site-packages (from pandas->pyupbit) (2022.7)
Requirement already satisfied: tzdata>=2022.1 in c:\users\82103\.conda\envs\study\lib\site-packages (from pandas->pyupbit) (2023.3)
Requirement already satisfied: numpy>=1.20.3 in c:\users\82103\.conda\envs\study\lib\site-packages (from pandas->pyupbit) (1.24.4)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\82103\.conda\envs\study\lib\site-packages (from requests->pyupbit) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\82103\.conda\envs\study\lib\site-packages (from requests->pyupbit) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\82103\.conda\envs\study\lib\site-packages (from requests->pyupbit) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\82103\.conda\envs\study\lib\site-packages (from requests->pyupbit) (2023.7.22)
Requirement already satisfied: six>=1.5 in c:\users\82103\.conda\envs\study\lib\site-packages (from python-dateutil>=2.8.2->pandas->pyupbit) (1.16.0)

                      open   high    low  close        volume         value
2023-05-09 09:00:00  577.0  579.0  565.0  577.0  1.642507e+08  9.381587e+10
2023-05-10 09:00:00  577.0  584.0  561.0  577.0  1.865252e+08  1.072656e+11
2023-05-11 09:00:00  577.0  578.0  560.0  568.0  1.405255e+08  8.004275e+10
2023-05-12 09:00:00  567.0  599.0  563.0  583.0  2.918355e+08  1.692631e+11
2023-05-13 09:00:00  583.0  584.0  575.0  577.0  6.830516e+07  3.953317e+10
...                    ...    ...    ...    ...           ...           ...
2023-11-20 09:00:00  833.0  836.0  820.0  822.0  1.200277e+08  9.937448e+10
2023-11-21 09:00:00  821.0  827.0  783.0  784.0  2.208477e+08  1.783943e+11
2023-11-22 09:00:00  784.0  822.0  783.0  818.0  1.673742e+08  1.343857e+11
2023-11-23 09:00:00  816.0  833.0  811.0  830.0  1.612507e+08  1.326099e+11
2023-11-24 09:00:00  831.0  837.0  827.0  833.0  1.171713e+08  9.749066e+10

[200 rows x 6 columns]

In [6]:
df['open']+100

2023-05-09 09:00:00    677.0
2023-05-10 09:00:00    677.0
2023-05-11 09:00:00    677.0
2023-05-12 09:00:00    667.0
2023-05-13 09:00:00    683.0
                       ...
2023-11-20 09:00:00    933.0
2023-11-21 09:00:00    921.0
2023-11-22 09:00:00    884.0
2023-11-23 09:00:00    916.0
2023-11-24 09:00:00    931.0
Name: open, Length: 200, dtype: float64

In [7]:
"""데이터프레임 필터링(1/2)
    -비교 연산자의 결과는 Boolean 값을 갖고있는 시리즈 객체임
    -예)종가가 고가보다 높았던 거래일만 필터링 해보기
"""

cond = df['close'] > df['high']
cond

2023-05-09 09:00:00    False
2023-05-10 09:00:00    False
2023-05-11 09:00:00    False
2023-05-12 09:00:00    False
2023-05-13 09:00:00    False
                       ...
2023-11-20 09:00:00    False
2023-11-21 09:00:00    False
2023-11-22 09:00:00    False
2023-11-23 09:00:00    False
2023-11-24 09:00:00    False
Length: 200, dtype: bool

In [9]:
df.tail(n=2)

                      open   high    low  close        volume         value
2023-11-23 09:00:00  816.0  833.0  811.0  830.0  1.612507e+08  1.326099e+11
2023-11-24 09:00:00  831.0  837.0  827.0  833.0  1.171713e+08  9.749066e+10

In [10]:
"""데이터프레임 필터링(2/2)
    -df[cond]는 각 인덱스에 대해서 True인 로우만 필터링
"""

cond = df['close'] > df['open']
df[cond]

                      open   high    low  close        volume         value
2023-05-12 09:00:00  567.0  599.0  563.0  583.0  2.918355e+08  1.692631e+11
2023-05-16 09:00:00  576.0  597.0  566.0  596.0  1.814164e+08  1.049465e+11
2023-05-17 09:00:00  596.0  620.0  591.0  601.0  3.401399e+08  2.056561e+11
2023-05-18 09:00:00  600.0  635.0  594.0  620.0  3.750158e+08  2.326247e+11
2023-05-19 09:00:00  620.0  638.0  615.0  628.0  2.404987e+08  1.505322e+11
...                    ...    ...    ...    ...           ...           ...
2023-11-15 09:00:00  850.0  867.0  831.0  864.0  2.475141e+08  2.101211e+11
2023-11-19 09:00:00  821.0  843.0  810.0  833.0  1.568356e+08  1.298944e+11
2023-11-22 09:00:00  784.0  822.0  783.0  818.0  1.673742e+08  1.343857e+11
2023-11-23 09:00:00  816.0  833.0  811.0  830.0  1.612507e+08  1.326099e+11
2023-11-24 09:00:00  831.0  837.0  827.0  833.0  1.171713e+08  9.749066e+10

[90 rows x 6 columns]

In [12]:
"""컬럼 시프트
    -데이터프레임의 연산은 기본적으로 같은 인덱스에 있는 컬럼과 컬럼 사이에 적용됨
    -df['high']-df['low']
    -당일 저가와 전일 저가를 빼려면 어떻게 해야하는가?(동일컴럼의 대한 연산)
    -df['컬럼명'].shift(1)
        -특정 컬럼의 데이터를 아래로 하나씩 이동
        -예) df['close_shift'] = df['close'].shift(1)
    """

df.drop(['volume','value'], axis=1, inplace=True)

In [16]:
df['shift'] = df['close'].shift(1)

In [17]:
df.tail()

                      open   high    low  close  shift
2023-11-20 09:00:00  833.0  836.0  820.0  822.0  833.0
2023-11-21 09:00:00  821.0  827.0  783.0  784.0  822.0
2023-11-22 09:00:00  784.0  822.0  783.0  818.0  784.0
2023-11-23 09:00:00  816.0  833.0  811.0  830.0  818.0
2023-11-24 09:00:00  831.0  837.0  827.0  833.0  830.0

In [19]:
df["종가변화"] = df['close'] - df["shift"]
df.tail()

                      open   high    low  close  shift  종가변화
2023-11-20 09:00:00  833.0  836.0  820.0  822.0  833.0 -11.0
2023-11-21 09:00:00  821.0  827.0  783.0  784.0  822.0 -38.0
2023-11-22 09:00:00  784.0  822.0  783.0  818.0  784.0  34.0
2023-11-23 09:00:00  816.0  833.0  811.0  830.0  818.0  12.0
2023-11-24 09:00:00  831.0  837.0  827.0  833.0  830.0   3.0